.song{
    padding-top: 20px;
    padding-bottom: 20px;
}
.padd{
    padding-top: 80px;
    padding-bottom: 80px;
}
.padd2{
    padding-top: 20px;


}
p{
    text-decoration: none;
}
.box{
    margin-right: 30px;
}